@font-face {
    font-family: Formula1-Bold;
    src: url("./Formula1-Bold.otf");
}

body {
    background-color: black;
}

h1 {
    color: white;
    display: block;
    text-align: center;
    font-family: Formula1-Bold;
    margin-bottom: 4ch;
    font-size: 40px;
}
.tracks{
    padding: 2ch;
    display: block;
    color: white;
    font-family: Formula1-Bold;
    font-size: 25px;
    text-align: center;
}